*{
	margin:0;
	box-sizing:border-box;
	padding:0;
}
:root{
	--bg-color:#AB88FF;
}
body{
	background-color:var(--bg-color);
}

header{
	display:flex;
	justify-content:space-between;
	width:100%;
	heigth: auto;
}
.header__logo{
	width: 210px;
	heigth:auto;
	margin:10px 10px 0px 10px;
}
.header__menu{
	margin:10px 10px 0px 10px;
	align-items:center;
}
.menu--drop{
	margin-rigth:10px;
	list-style:none;
	text-align:left;
/* 	display:none; */
}
.drop__item{
	text-decoration:none;
}



