/* Add media query for 1024px and on modify padding in  */
/* Normalize styles */
*,
*::after,
*::before {
	margin:0;
	box-sizing:border-box;
	padding:0;
}
:root{
	--bg-color:#AB88FF;
	--m-fsize: 1.5rem;
	--m-fcolor: white;
	font-size: 62.5%;
}

body{
	font-family: 'Nunito', sans-serif;
	background-color:var(--bg-color);
	color: var(--m-fcolor);
}
/* Header Styles */
.header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
	width:100vw;
	height: 100px;
	padding: 15px;
}
.header__logo{
	max-width: 200px;
  width: auto;
	height: 80%;
	
}
.header__menu--profile{
	position: relative;
	display: flex;
	align-items: center;
}
.header__menu--profile p {
	display: inline-block;
	margin-left: 5px;
	font-size: var(--m-fsize);
}
.header__logo,.header__menu--profile *{
	cursor: pointer;	
}
/* Menu of profile active in hover*/
.header__menu--profile ul{
	display: none;
	position: absolute;
	top: calc(100% - 0px);
	left: calc(100% - 110px);
	list-style:none;
	text-align:center;
	text-decoration: none;
}
.header__menu--profile li{
	margin-top: 5px;
}
.header__menu--profile a{
	text-decoration: none;
	color: var(--m-fcolor);
	font-size: var(--m-fsize);
}
.header__menu--profile > p:hover + ul{
	display: block;

} 



@media (min-width: 1024px) {
	.header{
		max-width: 80vw;
		margin: auto;
	}
}



